<div class="weather-box">
    <h2>🌤️ Weather Checker</h2>

    <input [(ngModel)]="city" placeholder="Enter city name" class="input" (input)="onCityInput()"

    />
    <ul *ngIf="suggetions.length > 0" class="suggestions">
        <li><button *ngFor="let suggestion of suggetions" (click)="selectCity(suggestion)">{{ suggestion }}</button>{{city}}</li>

    </ul>

    <button (click)="getWeather()" class="button">Get Weather</button>

    <div *ngIf="loading" class="loading">Loading...</div>
    <div *ngIf="error" class="error">{{ error }}</div>

    <div *ngIf="weatherData" class="weather-result">
      <h3>{{ weatherData.name }}, {{ weatherData.sys.country }}</h3>
      <p>🌡️ Temperature: <strong>{{ weatherData.main.temp }}°C</strong></p>
      <p>☁️ Condition: <em>{{ weatherData.weather[0].description }}</em></p>
      <p>💨 Wind: {{ weatherData.wind.speed }} m/s</p>
      <p>📍 Visibility: {{ weatherData.visibility / 1000 }} km</p>
    </div>
  </div>
